{
  "presets": [
    "react",
	"env"
  ],
  "plugins": [
	["module-resolver", {
      "root": ["."],
      "alias": {
        "react": "preact-compat",
        "react-dom": "preact-compat",
		"create-react-class": "preact-compat/lib/create-react-class"
      }
    }],
	"react-hot-loader/babel"
  ]
}